@import 'mixin.scss';

//  Colors
$primaryC: #9356DC;
$secondaryC: #FF79DA;
$tertiaryC: #99E2D0;

//  Font  

$roboto:'Roboto', sans-serif;
$shrikhand: 'Shrikhand', cursive;

%textdeco{
    text-decoration: none;
}
/*  Général  */

*,
*::before,
*::after{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
h1,h2,h3,p{
    font-family: $roboto;
}
ul{
    @extend %textdeco;
}

a{
    @extend %textdeco;
}

header{
    @include flex(column);
    width: 100vw;
    height: 100%;
    .logo{
        width: 100%;
        height: 100%;
        z-index: 2;
        @include flex;
        @include shadow($offy: -10px,$blur: 13px,$spread: 2px);
        img{
            max-width: 180px;
            margin: 15px auto;
        }
    }
    form{
        @include flex;
        width: 100%;
        height: 45px;
        align-items: center;
        justify-content: flex-end;
        @include lighten(black,92%);
        gap:10px;
        i{
            font-size:17px;
        };
        input{
            height: 100%;
            width: 60%;
            background-color: transparent;
            border: none;
            font-weight: bold;
            font-size: 16px;
            font-family: $roboto;
        }
    }
}