footer {
    height: 200px;
    background-color: lighten(black, 19%);
    width: 100%;
    color: #fff;
    padding: 25px 20px;
    h3{
        font-family: $shrikhand;
        font-weight: 300;
        font-size: $h3size;
    }
    ul{
        font-family: $roboto;
        margin-top: 15px;
        font-size: 0.85rem;
    }
    li{
        margin-bottom: 10px;
        i{
            font-size: 0.68rem;
            width: 20px;
        }
    }
}