*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

h1,
h2,
h3,
p {
  font-family: "Roboto", sans-serif;
}

ul,
a {
  text-decoration: none;
  list-style: none;
}

a:visited h1 {
  font-size: 1.85rem;
}

h2 {
  font-size: 1.7rem;
}

h3 {
  font-size: 1.1rem;
}

a:visited {
  color: inherit;
}

.wrap {
  margin: 0 auto;
  max-width: 1440px;
}

.loader {
  width: 100%;
  height: 100%;
  display: flex;
  flex-flow: row;
  background-color: #303030;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 10;
  align-items: center;
  justify-content: center;
  gap: 40px;
  animation: 0.3s ease-out 3s disappear forwards;
}
.loader i {
  height: 64px;
  width: 64px;
  font-size: 4rem;
  animation: 3s ease infinite loader;
}
.loader i:nth-child(0n+1) {
  animation-name: loader;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
  animation-delay: 0.2s;
}
@keyframes loader {
  0% {
    color: black;
    transform: translateY(0);
  }
  25% {
    color: #9356dc;
    transform: translateY(50px) rotate(90deg);
  }
  50% {
    color: #ff79da;
    transform: translateY(100px) rotate(180deg);
  }
  75% {
    color: #99e2d0;
    transform: translateY(50px) rotate(270deg);
  }
  100% {
    color: black;
    transform: translateY(0) rotate(360deg);
  }
}
.loader i:nth-child(0n+2) {
  animation-name: loader;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
  animation-delay: 0.4s;
}
@keyframes loader {
  0% {
    color: black;
    transform: translateY(0);
  }
  25% {
    color: #9356dc;
    transform: translateY(50px) rotate(90deg);
  }
  50% {
    color: #ff79da;
    transform: translateY(100px) rotate(180deg);
  }
  75% {
    color: #99e2d0;
    transform: translateY(50px) rotate(270deg);
  }
  100% {
    color: black;
    transform: translateY(0) rotate(360deg);
  }
}
.loader i:nth-child(0n+3) {
  animation-name: loader;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
  animation-delay: 0.6s;
}
@keyframes loader {
  0% {
    color: black;
    transform: translateY(0);
  }
  25% {
    color: #9356dc;
    transform: translateY(50px) rotate(90deg);
  }
  50% {
    color: #ff79da;
    transform: translateY(100px) rotate(180deg);
  }
  75% {
    color: #99e2d0;
    transform: translateY(50px) rotate(270deg);
  }
  100% {
    color: black;
    transform: translateY(0) rotate(360deg);
  }
}
@keyframes disappear {
  from {
    visibility: visible;
  }
  to {
    visibility: hidden;
    transform: scale(0);
    opacity: 0;
  }
}

.btn {
  font-family: "Roboto", sans-serif;
  font-size: 1.1rem;
  border: none;
  font-weight: 500;
  background: #ff79da;
  background: linear-gradient(170deg, #ff79da 0%, #9356dc 82%);
  color: white;
  border-radius: 35px;
  min-width: 100px;
  padding: 0 35px;
  cursor: pointer;
  box-shadow: 0 9px 25px -15px black;
}
.menu .btn {
  height: 60px;
  max-width: 300px;
  margin: 35px auto 50px auto;
  padding: 0 65px;
  background: linear-gradient(170deg, #ff79da 15%, #9356dc 100%);
}
.menu .btn:hover {
  box-shadow: 0 9px 15px 0px black;
  background: linear-gradient(170deg, #ff83dd 15%, #985ede 100%);
}
.btn:hover {
  background: linear-gradient(170deg, #ff83dd 0%, #985ede 82%);
  box-shadow: 0 9px 15px 0px black;
}

.instruction {
  height: 60px;
  background-color: #f7f7f7;
  border-radius: 15px;
  display: flex;
  flex-flow: row;
  align-items: center;
  margin-left: 10px;
  font-weight: 600;
  font-size: 1rem;
  box-shadow: 0px 4px 12px -10px black;
}
@media screen and (min-width: 768px) {
  .instruction {
    flex: 1;
  }
}
.instruction__num {
  background-color: #9356dc;
  color: #fff;
  min-width: 25px;
  height: 25px;
  border-radius: 20px;
  display: flex;
  flex-flow: row;
  justify-content: center;
  align-items: center;
  padding-top: 3px;
  font-size: 0.85rem;
  line-height: 1;
  margin-left: -10px;
  font-family: "Roboto", sans-serif;
}
.instruction i {
  width: 50px;
  text-align: center;
  color: gray;
  font-size: 1.1rem;
}
.instruction:hover i, .instruction:focus i, .instruction:active i {
  color: #9356dc;
}
.instruction:hover, .instruction:focus, .instruction:active {
  background-color: #f7f2fc;
}

.restaucard {
  position: relative;
}
@media screen and (min-width: 768px) {
  .restaucard {
    flex: 1;
    min-width: 300px;
    max-width: 470px;
  }
}
@media screen and (min-width: 992px) {
  .restaucard {
    min-width: 344px;
    flex: 1;
    justify-content: space-between;
  }
}
.restaucard a {
  overflow: hidden;
  width: 100%;
  height: 250px;
  display: flex;
  flex-flow: column;
  border-radius: 15px;
  box-shadow: 0px 4px 12px -10px black;
  position: relative;
  z-index: 1;
}
.restaucard img {
  height: 70%;
  object-fit: cover;
  object-position: 0 62%;
}
.restaucard__nameplate {
  display: flex;
  flex-flow: row;
  width: 100%;
  height: 60px;
  padding: 20px;
  justify-content: flex-start;
}
.restaucard__nameplate__name {
  display: flex;
  flex-flow: column;
  gap: 3px;
}
.restaucard__nameplate__name p {
  font-weight: 400;
}

.newtag {
  position: absolute;
  top: 10px;
  right: 10px;
  background-color: #99e2d0;
  width: 80px;
  height: 30px;
  color: #278870;
  font-weight: 600;
  font-family: "Roboto", sans-serif;
  font-size: 0.9rem;
  display: flex;
  flex-flow: row;
  justify-content: center;
  align-items: center;
  border-radius: 3px;
}

.heart {
  position: absolute;
  font-size: 1.5rem;
  z-index: 2;
  bottom: 25px;
  right: 25px;
}
.heart--full {
  z-index: 3;
  opacity: 0;
  transform: scale(0);
  background: linear-gradient(#9356dc 30%, #ff79da);
  background-clip: text;
  -webkit-background-clip: text;
  color: transparent;
  cursor: pointer;
  transition: ease-in-out 0.5s;
}
.heart__checkbox {
  z-index: 4;
  width: 75px;
  height: 75px;
  bottom: 0;
  right: 0;
  opacity: 0;
}
.heart__checkbox:checked + .heart--full {
  opacity: 1;
  transform: scale(1);
}
.heart__menu, .heart__menu--full {
  top: 10px;
  bottom: auto;
}
.heart__menu--full, .heart__menu--full--full {
  z-index: 3;
  opacity: 0;
  transform: scale(0);
  background: linear-gradient(#9356dc 30%, #ff79da);
  background-clip: text;
  -webkit-background-clip: text;
  color: transparent;
  cursor: pointer;
  transition: ease-in-out 0.5s;
}
.heart__menu__checkbox, .heart__menu--full__checkbox {
  top: 25px;
  z-index: 4;
  width: 75px;
  height: 75px;
  bottom: 0;
  right: 0;
  opacity: 0;
}
.heart__menu__checkbox:checked + .heart__menu--full, .heart__menu--full__checkbox:checked + .heart__menu--full {
  opacity: 1;
  transform: scale(1);
}

.dish {
  width: 100%;
  background-color: white;
  border-radius: 20px;
  display: flex;
  flex-flow: row;
  box-shadow: 1px 1px 25px -20px black;
  align-items: flex-end;
  overflow: hidden;
  position: relative;
}
@media screen and (min-width: 992px) {
  .dish {
    align-items: flex-start;
  }
}
.dish__name {
  min-width: 50%;
  margin: 15px 10px;
  flex: 1;
}
.dish__name h3 {
  font-size: 1.3rem;
}
.dish__name p {
  font-weight: 400;
  font-size: 1.1rem;
  padding-top: 4px;
}
@media screen and (min-width: 992px) {
  .dish__name {
    gap: 18px;
    display: flex;
    flex-direction: column;
  }
}
.dish__price {
  margin: 0 15px 15px 0;
}
.dish__price h3 {
  font-size: 1.1rem;
}
@media screen and (min-width: 992px) {
  .dish__price {
    align-self: flex-end;
  }
}
.dish:hover > .checkmark, .dish:hover > .checkmark__check,
.dish .checkmark__check:checked + .checkmark {
  margin-right: 0px;
}
.dish:hover > .checkmark i, .dish:hover > .checkmark__check i,
.dish .checkmark__check:checked + .checkmark i {
  transform: rotate(0);
  transition-delay: 0.4s;
}

.checkmark {
  width: 70px;
  display: flex;
  flex-shrink: 1;
  justify-content: center;
  align-items: center;
  background-color: #99e2d0;
  height: 80px;
  margin-right: -70px;
  cursor: pointer;
  transition: margin-right ease-out 1s;
  position: relative;
}
@media screen and (min-width: 992px) {
  .checkmark {
    height: 130px;
  }
}
.checkmark__check {
  height: 130px;
  width: 67px;
  position: absolute;
  opacity: 0;
  z-index: 3;
  cursor: pointer;
  right: 0;
  margin-right: -70px;
  transition: margin-right ease-out 1s;
}
.checkmark i {
  background-color: white;
  color: #99e2d0;
  width: 20px;
  border-radius: 20px;
  height: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 0.9rem;
  line-height: 1px;
  transform: rotate(-225deg);
  transition: transform ease-in-out 0.7s;
}

.checkmark__check:checked + .checkmark {
  background-color: #4acbab;
}
.checkmark__check:checked + .checkmark i {
  color: #4acbab;
}

header {
  display: flex;
  flex-flow: column;
  width: 100%;
  height: 100%;
  position: relative;
  box-shadow: 1px -10px 13px 2px black;
  clip-path: inset(-5px 0px -5px 1px);
  z-index: 2;
}
header img {
  max-width: 180px;
  margin: 15px auto;
}

.header {
  display: flex;
  flex-flow: row;
}
.header__arrow {
  height: 60px;
  width: 50px;
  font-size: 1.7rem;
  display: flex;
  align-items: center;
  margin-left: 45px;
}
.header__arrow + img {
  width: 100%;
  margin: 15px auto;
  position: relative;
  right: 55px;
}

footer {
  height: 200px;
  background-color: #303030;
  width: 100%;
  color: #fff;
  padding: 25px 20px;
}
@media screen and (min-width: 768px) {
  footer {
    height: 130px;
  }
}
footer h3 {
  font-family: "Shrikhand", cursive;
  font-weight: 300;
  font-size: 1.1rem;
  text-align: start;
}
@media screen and (min-width: 768px) {
  footer h3 {
    text-align: center;
  }
}
footer ul {
  font-family: "Roboto", sans-serif;
  margin-top: 15px;
  font-size: 0.85rem;
  display: flex;
  flex-flow: column;
}
@media screen and (min-width: 768px) {
  footer ul {
    display: flex;
    flex-flow: row;
    justify-content: space-around;
    margin-top: 30px;
  }
}
footer li {
  margin-bottom: 10px;
}
footer li i {
  font-size: 0.68rem;
  width: 20px;
}

main {
  display: flex;
  flex-flow: column;
  background-color: #f7f7f7;
}
@media screen and (min-width: 992px) {
  main {
    display: flex;
    flex-flow: row wrap;
  }
}

.menu {
  display: flex;
  flex-flow: column;
  top: 50%;
  background-color: #f7f7f7;
  width: 100%;
  border-radius: 35px 35px 0 0;
  margin: 0 auto;
  transform: translateY(-50px);
  margin-bottom: -50px;
  padding: 20px;
  gap: 10px;
}
.menu section:nth-child(0n+1), .menu .dish:nth-child(0n+1) {
  animation-name: slidein;
  animation-duration: 0.5s;
  animation-timing-function: ease-out;
  animation-delay: 0.3s;
  animation-fill-mode: forwards;
  opacity: 0;
}
@keyframes slidein {
  from {
    transform: translateY(10px);
    opacity: 0;
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}
.menu section:nth-child(0n+2), .menu .dish:nth-child(0n+2) {
  animation-name: slidein;
  animation-duration: 0.5s;
  animation-timing-function: ease-out;
  animation-delay: 0.6s;
  animation-fill-mode: forwards;
  opacity: 0;
}
@keyframes slidein {
  from {
    transform: translateY(10px);
    opacity: 0;
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}
.menu section:nth-child(0n+3), .menu .dish:nth-child(0n+3) {
  animation-name: slidein;
  animation-duration: 0.5s;
  animation-timing-function: ease-out;
  animation-delay: 0.9s;
  animation-fill-mode: forwards;
  opacity: 0;
}
@keyframes slidein {
  from {
    transform: translateY(10px);
    opacity: 0;
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}
.menu section:nth-child(0n+4), .menu .dish:nth-child(0n+4) {
  animation-name: slidein;
  animation-duration: 0.5s;
  animation-timing-function: ease-out;
  animation-delay: 1.2s;
  animation-fill-mode: forwards;
  opacity: 0;
}
@keyframes slidein {
  from {
    transform: translateY(10px);
    opacity: 0;
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}
.menu section:nth-child(0n+5), .menu .dish:nth-child(0n+5) {
  animation-name: slidein;
  animation-duration: 0.5s;
  animation-timing-function: ease-out;
  animation-delay: 1.5s;
  animation-fill-mode: forwards;
  opacity: 0;
}
@keyframes slidein {
  from {
    transform: translateY(10px);
    opacity: 0;
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}
.menu section:nth-child(0n+6), .menu .dish:nth-child(0n+6) {
  animation-name: slidein;
  animation-duration: 0.5s;
  animation-timing-function: ease-out;
  animation-delay: 1.8s;
  animation-fill-mode: forwards;
  opacity: 0;
}
@keyframes slidein {
  from {
    transform: translateY(10px);
    opacity: 0;
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}
.menu section:nth-child(0n+7), .menu .dish:nth-child(0n+7) {
  animation-name: slidein;
  animation-duration: 0.5s;
  animation-timing-function: ease-out;
  animation-delay: 2.1s;
  animation-fill-mode: forwards;
  opacity: 0;
}
@keyframes slidein {
  from {
    transform: translateY(10px);
    opacity: 0;
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}
.menu section:nth-child(0n+8), .menu .dish:nth-child(0n+8) {
  animation-name: slidein;
  animation-duration: 0.5s;
  animation-timing-function: ease-out;
  animation-delay: 2.4s;
  animation-fill-mode: forwards;
  opacity: 0;
}
@keyframes slidein {
  from {
    transform: translateY(10px);
    opacity: 0;
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}
.menu section:nth-child(0n+9), .menu .dish:nth-child(0n+9) {
  animation-name: slidein;
  animation-duration: 0.5s;
  animation-timing-function: ease-out;
  animation-delay: 2.7s;
  animation-fill-mode: forwards;
  opacity: 0;
}
@keyframes slidein {
  from {
    transform: translateY(10px);
    opacity: 0;
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}
@media screen and (min-width: 992px) {
  .menu {
    display: flex;
    flex-flow: row wrap;
  }
}
.menu__header {
  display: flex;
  flex-flow: row;
  justify-content: space-between;
  align-items: center;
  padding-bottom: 25px;
  width: 100%;
}
.menu__header h1 {
  font-family: "Shrikhand", cursive;
  font-weight: 300;
  font-size: 2.1em;
}
.menu__header i {
  font-size: 1.7rem;
}
.menu__entree, .menu__maindish, .menu__dessert {
  display: flex;
  flex-flow: column;
  gap: 10px;
}
@media screen and (min-width: 992px) {
  .menu__entree, .menu__maindish, .menu__dessert {
    flex: 1;
  }
}
.menu__entree h2, .menu__maindish h2, .menu__dessert h2 {
  font-weight: 300;
  text-transform: uppercase;
  font-size: 1.3rem;
}
.menu__entree h2::after, .menu__maindish h2::after, .menu__dessert h2::after {
  content: "";
  display: block;
  background-color: #99e2d0;
  width: 42px;
  height: 4px;
  margin: 2px 0;
}
.menu__btn {
  width: 100%;
  text-align: center;
}
.menu .btn {
  height: 60px;
  max-width: 300px;
  margin: 35px auto 50px auto;
  padding: 0 65px;
  background: linear-gradient(170deg, #ff79da 15%, #9356dc 100%);
}
.menu .btn:hover {
  box-shadow: 0 9px 15px 0px black;
  background: linear-gradient(170deg, #ff83dd 15%, #985ede 100%);
}
.menu .heart__menu, .menu .heart__menu--full {
  top: 10px;
  bottom: auto;
}
.menu .heart__menu--full, .menu .heart__menu--full--full {
  z-index: 3;
  opacity: 0;
  transform: scale(0);
  background: linear-gradient(#9356dc 30%, #ff79da);
  background-clip: text;
  -webkit-background-clip: text;
  color: transparent;
  cursor: pointer;
  transition: ease-in-out 0.5s;
}
.menu .heart__menu__checkbox, .menu .heart__menu--full__checkbox {
  top: 25px;
  z-index: 4;
  width: 75px;
  height: 75px;
  bottom: 0;
  right: 0;
  opacity: 0;
}
.menu .heart__menu__checkbox:checked + .heart__menu--full, .menu .heart__menu--full__checkbox:checked + .heart__menu--full {
  opacity: 1;
  transform: scale(1);
}

.research {
  width: 100%;
}

form {
  display: flex;
  flex-flow: row;
  width: 100%;
  height: 45px;
  align-items: center;
  justify-content: center;
  background-color: #ebebeb;
  gap: 10px;
}
form i {
  font-size: 1.05rem;
  margin-left: 70px;
}
form input {
  height: 100%;
  background-color: transparent;
  border: none;
  font-weight: bold;
  font-size: 1.15rem;
  font-family: "Roboto", sans-serif;
}

.explore {
  width: 100%;
  height: 400px;
  display: flex;
  flex-flow: column;
  align-items: center;
  background-color: #f7f7f7;
  padding: 30px;
}
.explore__title {
  width: 100%;
  text-align: center;
  height: 30%;
  font-weight: 900;
  font-size: 1.85rem;
}
.explore__desc {
  height: 25%;
  text-align: center;
  font-weight: 400;
  font-size: 1.15rem;
  margin-top: 10px;
}
@media screen and (min-width: 992px) {
  .explore {
    width: 50%;
  }
}
.explore .btn {
  height: 60px;
  margin-top: 25px;
  max-width: 500px;
}

.how {
  width: 100%;
  height: 400px;
  padding: 50px 20px;
  display: flex;
  flex-flow: column;
  background-color: white;
  gap: 20px;
}
@media screen and (min-width: 768px) {
  .how {
    display: flex;
    flex-flow: row wrap;
  }
}
.how h2 {
  margin-bottom: 10px;
  width: 100%;
}
@media screen and (min-width: 768px) {
  .how h2 {
    text-align: center;
  }
}
@media screen and (min-width: 992px) {
  .how {
    width: 50%;
  }
}

.restaurantlist {
  background-color: #f7f7f7;
  width: 100%;
  padding: 45px 20px 60px 20px;
  display: flex;
  flex-flow: column;
  gap: 20px;
}
@media screen and (min-width: 768px) {
  .restaurantlist h2 {
    text-align: center;
    width: 100%;
  }
}
@media screen and (min-width: 992px) {
  .restaurantlist {
    display: flex;
    flex-flow: row wrap;
  }
}
.restaurantlist .restaugrid {
  width: 100%;
  gap: 20px;
  display: flex;
  flex-flow: column;
}
@media screen and (min-width: 768px) {
  .restaurantlist .restaugrid {
    display: flex;
    flex-flow: row wrap;
  }
}

.bodybackground {
  overflow: hidden;
  object-fit: cover;
}
.bodybackground img {
  width: 100%;
}

/*# sourceMappingURL=style.css.map */
