.btn {
    font-family: $roboto;
    font-size: $h3size;
    border: none;
    font-weight: 500;
    background: rgb(255, 121, 218);
    background: linear-gradient(170deg,
            rgba(255, 121, 218, 1) 0%,
            rgba(147, 86, 220, 1) 82%);
    color: white;
    border-radius: 25px;

    .explore & {
        height: 60px;
        width: 75%;
        margin-top: 25px;
        max-width: 500px;
    }

}