.btn {
    font-family: $roboto;
    font-size: $h3size;
    border: none;
    font-weight: 500;
    background: rgb(255, 121, 218);
    background: linear-gradient(170deg,
            rgba(255, 121, 218, 1) 0%,
            rgba(147, 86, 220, 1) 82%);
    color: white;
    border-radius: 35px;
    min-width: 100px;
    padding: 0 35px;
    cursor: pointer;
    @include shadow(0,9px,25px,-15px);

    &:hover{
        background: linear-gradient(170deg,
        lighten(rgba(255, 121, 218, 1),4%) 0%,
        lighten(rgba(147, 86, 220, 1),4%) 82%);
        @include shadow(0,9px,15px,0px);

    }

}