.checkmark{
    width: 70px;
    display: flex;
    flex-shrink: 1;
    justify-content: center;
    align-items: center;
    background-color: $tertiaryC;
    height: 85px;
    margin-right: -70px;
    cursor: pointer;
    transition: margin-right ease-out 0.5s;
    position: relative;
    @include responsive(desktop){
        height: 130px;
    }
    &__check{
    height: 130px;
    width: 67px;
    position: absolute;
    opacity: 0;
    z-index: 3;
    cursor: pointer;
    right: 0;
    margin-right: -70px;
    transition: margin-right ease-out 0.5s;

    }
    i{
        background-color: white;
        color: $tertiaryC;
        width: 20px;
        border-radius: 20px;
        height: 20px;
        display: flex;
        align-items: center;
        justify-content: center;
        font-size: 0.9rem;
        line-height: 1px;
        transform: rotate(-225deg);
        transition: transform ease-in-out 0.2s;

    }
}
.checkmark__check:checked+.checkmark{
        background-color: darken($tertiaryC, 20%);
        i{
            color: darken($tertiaryC, 20%);
        }
}