.instruction {
    height: 60px;
    background-color: lighten(black, 97%);
    border-radius: 15px;
    @include flex;
    align-items: center;
    margin-left: 10px;
    font-weight: 600;
    font-size: 1rem;
    box-shadow: 0px 4px 12px -10px black;

    @include responsive(tablet) {
        flex: 1;
    }

    &__num {
        background-color: $primaryC;
        color: #fff;
        min-width: 25px;
        height: 25px;
        border-radius: 20px;
        @include flex;
        justify-content: center;
        align-items: center;
        padding-top: 3px;
        font-size: 0.85rem;
        line-height: 1;
        margin-left: -10px;
        font-family: $roboto;
    }

    i {
        width: 50px;
        text-align: center;
        color: lighten(black, 50%);
        font-size: $h3size;
    }

    &:hover i,
    &:focus i,
    &:active i {
        color: $primaryC;
    }

    &:hover,
    &:focus,
    &:active {
        background-color: lighten($primaryC, 37%);
    }
}