.how{
    width: 100%;
    height: 400px;
    padding: 50px 20px;
    @include flex(column);
    gap: 20px;
    h2{
        margin-bottom: 10px;
        @include responsive(tablet){
            text-align: center;
        }
    };
}
