.menu{
    @include flex(column);
    top: 50%;
    background-color: darken(white, 3%);
    width: 100%;
    border-radius: 35px 35px 0 0;
    transform: translateY(-50px);
    margin: 0 auto;
    margin-bottom: -50px;
    padding: 20px;
    gap: 10px;
    @include responsive(desktop){
        @include flex(row wrap);
    }
    &__header{
        @include flex;
        justify-content: space-between;
        align-items: center;
        padding-bottom: 25px;
        width: 100%;
        h1{
            font-family: $shrikhand;
            font-weight: 300;
            font-size: 2.1em;
        }
        i{
            font-size: $h2size;
        }
    }
    &__entree,
    &__maindish,
    &__dessert{
        @include flex(column);
        gap:10px;
        @include responsive(desktop){
            flex: 1;
        }
        h2{
        font-weight: 300;
        text-transform:uppercase;
        font-size: 1.3rem;
        @include after_bar;

        }
    }
    &__btn{
        width: 100%;
        text-align: center;
    }
}