.menu {
    @include flex(column);
    top: 50%;
    background-color: darken(white, 3%);
    width: 100%;
    border-radius: 35px 35px 0 0;
    margin: 0 auto;
    transform: translateY(-50px);
    margin-bottom: -50px;
    // z-index: 1;
    // margin-top: 45%;
    padding: 20px;
    gap: 40px;
    @include dish_animation;

    @include responsive(desktop) {
        @include flex(row wrap);
    }

    &__header {
        @include flex;
        justify-content: space-between;
        align-items: center;
        padding-bottom: 25px;
        width: 100%;

        h1 {
            font-family: $shrikhand;
            font-weight: 300;
            font-size: 2.1em;
        }

        i {
            font-size: $h2size;
        }
    }

    &__entree,
    &__maindish,
    &__dessert {
        @include flex(column);
        gap: 10px;

        @include responsive(desktop) {
            flex: 1;
            max-width: 30%;
        }

        h2 {
            font-weight: 300;
            text-transform: uppercase;
            font-size: 1.3rem;
            @include after_bar;

        }
    }

    &__btn {
        width: 100%;
        text-align: center;
    }

    & .btn {
        height: 60px;
        max-width: 300px;
        margin: 35px auto 50px auto;
        padding: 0 65px;
        background: linear-gradient(170deg,
                rgba(255, 121, 218, 1) 15%,
                rgba(147, 86, 220, 1) 100%);

        &:hover {
            @include shadow(0, 9px, 15px, 0px);
            background: linear-gradient(170deg,
                    lighten(rgba(255, 121, 218, 1), 2%) 15%,
                    lighten(rgba(147, 86, 220, 1), 2%) 100%);
        }
    }

    .heart {
        &__menu,
        &__menu--full {
            top: 10px;
            bottom: auto;
            @include popheart;

            &__checkbox {
                top: 25px;
                z-index: 4;
                width: 75px;
                height: 75px;
                bottom: 0;
                right: 0;
                opacity: 0;

                &:checked+.heart__menu--full {
                    opacity: 1;
                    transform: scale(1);
                }
            }
        }
    }
}