.research{
    width: 100%;
}
form{
    @include flex;
    width: 100%;
    height: 45px;
    align-items: center;
    justify-content: center;
    background-color: lighten(black,92%);
    gap:10px;
    i{
        font-size:1.05rem;
        margin-left: 70px;
    };
    input{
        height: 100%;
        background-color: transparent;
        border: none;
        font-weight: bold;
        font-size: 1.15rem;
        font-family: $roboto;
    }
}
