@mixin flex($flex-direction: row){
    display: flex;
    flex-direction: $flex-direction;
}

@mixin shadow($offx:1px,$offy: 1px,$blur: 1px, $spread: 1px){
    box-shadow: $offx $offy $blur $spread black;
}

@mixin responsive($device){
    @media screen and (min-width: map-get($breakpoints, $device)){
        @content
    }
}