@mixin flex($flex-direction: row) {
    display: flex;
    flex-flow: $flex-direction;
}

@mixin shadow($offx:1px, $offy: 1px, $blur: 1px, $spread: 1px) {
    box-shadow: $offx $offy $blur $spread black;
}

@mixin responsive($device) {
    @media screen and (min-width: map-get($breakpoints, $device)) {
        @content;
    }
}

@mixin after_bar {
    &::after {
        content: "";
        display: block;
        background-color: $tertiaryC;
        width: 42px;
        height: 4px;
        margin: 2px 0;
    }
}

@mixin popheart {
    &--full {
        z-index: 3;
        opacity: 0;
        transform: scale(0);
        // color: rgba(255, 121, 218, 1)
        background: linear-gradient($primaryC 30%, $secondaryC);
        background-clip: text;
        -webkit-background-clip: text;
        color: transparent;
        cursor: pointer;
        transition: ease-in-out 0.5s;
    }
}

@mixin dish_animation{
    @for $i from 1 through $nbrdish {
        & section:nth-child(0n+#{$i}),
        & .dish:nth-child(0n+#{$i})
        {
            animation-name: slidein;
            animation-duration: 0.5s;
            animation-timing-function: ease-out;
            animation-delay: $i*0.30s;
            animation-fill-mode: forwards;
            opacity: 0;
            @keyframes slidein {
                from{
                    transform: translateY(10px);
                    opacity: 0;
                }
                to{
                    opacity: 1;
                    transform: translateY(0);
                }
                
            }

        }
    }
}