@mixin flex($flex-direction: row) {
    display: flex;
    flex-flow: $flex-direction;
}

@mixin shadow($offx:1px, $offy: 1px, $blur: 1px, $spread: 1px) {
    box-shadow: $offx $offy $blur $spread black;
}

@mixin responsive($device) {
    @media screen and (min-width: map-get($breakpoints, $device)) {
        @content;
    }
}

@mixin after_bar {
    &::after {
        content: "";
        display: block;
        background-color: $tertiaryC;
        width: 42px;
        height: 4px;
        margin: 2px 0;
    }
}

@mixin popheart {
    &--full {
        z-index: 3;
        opacity: 0;
        transform: scale(0);
        color: rgba(255, 121, 218, 1);
        cursor: pointer;
        transition: ease-in-out 0.5s;
    }
}