//  Colors
$primaryC: #9356DC;
$secondaryC: #FF79DA;
$tertiaryC: #99E2D0;

//  Font  
$roboto:'Roboto', sans-serif;
$shrikhand: 'Shrikhand', cursive;
$h1size: 1.85rem;
$h2size: 1.7rem;
$h3size: 1.1rem;

$breakpoints:(
    tablet: 768px,
    desktop: 992px
)